<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>
<div class="auth-container">
    <h2>Create Account ✨</h2>

    <form method="POST">
        <input name="username" placeholder="Username" required>
        <div class="password-box">
            <input type="password" name="password" id="reg-password" placeholder="Password" required>
            <span onclick="togglePassword('reg-password')">👁️</span>
        </div>
        <button>Register</button>
    </form>

    <p class="switch">Already registered? <a href="/login">Login</a></p>
</div>
<script src="{{ url_for('static', filename='auth.js') }}"></script>
</body>
</html>
